body {
  background-color: #127fa0;
  color: #fdffff;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding:8px 25px;
  background-color: #1e16ba;
  border-style: none;
  color: #fdffff;
}
input{
  height: 24px;
}












































  